<div class="hero-unit">
  <div class="container2">
    <h1>WELCOME</h1>     
    <h2>120 LANGUAGE. 6000 VOCANULARY WORDS.<br>IN JUST OVER A YEAR.<br><br>How many words can you learn this month?<br>Try E-learning for free.</h2>
    <br><%= link_to "Sign up now!", class: "btn btn-large btn-primary" %>
  </div>
</div>
