<div class="hero-unit">
  <div class="container2">
    <h1><%= t("home_page.welcome") %></h1>
    <h2><%= t("home_page.intro1") %><br><%= t("home_page.intro2") %></h2>
    <br><%= link_to t("home_page.sign_up"),class: "btn btn-large btn-primary" %>
  </div>
</div>
