<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "E - Learning", root_path, id: "logo" %>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><%= link_to "Home", root_path %></li>
          <li><%= link_to "About" %></li>
          <li><%= link_to "Help" %></li>
          
        </ul>
      </nav>
    </div>
   </div>
</header>